.header-back {
  background-color: black;
}
.header {
  display: flex;
  flex-direction: row;
  background-color:#040404;
  height:45px;
  width: 70%;
  margin: 0 auto;
}
.logo {
  -webkit-flex-grow:5;
  flex-grow:5;
  line-height: 45px;
}
.login {
  -webkit-flex-grow:1;
  flex-grow:1;
  display: flex;
  flex-direction: row;
  line-height: 45px;
}
.search {
  -webkit-flex-grow:1;
  flex-grow:1;
  line-height: 45px;
}
.search img {
  vertical-align: middle;
}
.sign-up {
  -webkit-flex-grow:1;
  flex-grow:1;
}
.sign-in {
  -webkit-flex-grow:1;
  flex-grow:1;
}
.logo span, .sign-in span, .sign-up span {
  color: white;
}
