<div class="main-menu">
  <div class="content">
    <div class="site-description">
      <span>Окьлот икнитрак. Окьлот рокдрах</span>
    </div>
    <!--<div class="images">-->
      <!--<div class="results">-->
          <!--<span><img src="/assets/img/imgtest.png" sizes="(min-width: 40em) 80vw, 100vw" alt=""></span>-->
        <!--</div>-->
      <!--<div class="shell">-->
        <!--<span><img src="/assets/img/imgtest.png" sizes="(min-width: 40em) 80vw, 100vw" alt=""></span>-->
      <!--</div>-->
      <!--<div class="shell">-->
        <!--<span><img src="/assets/img/imgtest.png" sizes="(min-width: 40em) 80vw, 100vw" alt=""></span>-->
      <!--</div>-->
      <!--<div class="shell" >-->
        <!--<span><img src="/assets/img/imgtest.png" sizes="(min-width: 40em) 80vw, 100vw" alt=""></span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>

<div class="test" *ngFor="let data of mainPage">
  <span>{{data.name}}</span>
</div>
