.main-menu {
  background-color: white;
}
.content {
  width: 90%;
  margin: 0 auto;
}
.site-description span {
  color: #040404;
  font-size: 18px;
}
.site-description {
  text-align: center;
  height: 60px;
  line-height: 60px;
}
.shell {
  background-color: greenyellow;
  margin: 0 auto;
}
.images  {
  border: 1px solid #040404;
  display: flex;
  flex-direction: row;
}
.shell {
  -webkit-flex-grow:1;
  flex-grow:1;
  max-width: 30%;
}
