.main-menu {
  background-color: white;
}
.content {
  width: 90%;
  margin: 0 auto;
}
.site-description span {
  color: #040404;
  font-size: 24px;
}
.site-description {
  text-align: center;
  height: 60px;
  line-height: 60px;
}
.shell {
  background-color: greenyellow;
  margin: 0 auto;
}
.images  {
  border: 1px solid #040404;
  display: flex;
  flex-direction: row;
}
.shell {
  -webkit-flex-grow:1;
  flex-grow:1;
  max-width: 30%;
}

.container {
  width:90%;
  border: 1px solid black;
  margin:0 auto;
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
}
.images {
  flex-direction: row;
  width: 32%;
  margin:0 auto;
  height: 300px;
  margin-top: 5px;
}
.img {
  display: block;
  width: 100%;
  height:100%;
}
@media (max-width: 600px ) {
  .images {
    width: 97%;
  }
  .content {
    width: 100%;
  }
}
