<form action="" class="sign-up-form">
  <div class="sign-up-six">
    <div class="sign-up-fourth">
      <div class="sign-up-third">
        <div class="sign-up-second">
          <div class="sign-up-first">
            <div class="sign-up-form_border">
              <span class="title">Создать бесплатно аккаунт</span>
              <label class="name-field">
                <input type="email" class="name" placeholder="Ваше e-mail">
              </label>
              <label class="email-field">
                <input type="text" class="email" placeholder="Ваш пароль">
              </label>
              <label class="email-field">
                <input type="text" class="email" placeholder="Подтвердить пароль">
              </label>
              <button class="confirm-btn">Подтвердить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
